.bookmark{
    background-color: #e5e3f1;  
    text-align: center;
    border: 1px solid #6047EC;
    height: 65px;
    width: 275px;
    border-radius: 10px;
    
}
.bookmark h3{
    color: #6047EC;
    
}